<app-menu></app-menu>
<app-addpublicacion></app-addpublicacion>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<main id="profile">
    <header class="profile__header">
        <div class="profile__column" *ngFor="let userper of otro">
            <img [src]="'http://127.0.0.1:8000'+userper.ImageProfile" class="tam"/>
        </div>
        <div class="profile__column" *ngFor="let user of otro">
            <div class="profile__title">
                <h3 id="username" class="profile__username">{{user.username}}</h3>
                <button id="on" type="submit" class="btn-grad " (click)="seguir()" >Follow</button>
            </div>

            <ul class="profile__stats">
                <li class="profile__stat">
                    <span class="stat__number">333</span> posts
                </li>
                <li class="profile__stat">
                    <a href="/followers" class="noD"><span class="stat__number">{{cantiSeguidores}}</span> followers</a> 
                </li>
                <li class="profile__stat">
                    <a href="/following" class="noD"><span class="stat__number">{{cantiSeguidos}}</span> following</a>
                </li>
            </ul>
            <p class="profile__bio">
                <span class="profile__full-name">
                    {{user.nombre}} ||
                </span> {{user.desc}}
                <a >{{user.email}}</a>
                <a >{{user.webSite}}</a>
            </p>
        </div>
    </header>
    <section class="profile__photos">
        <div class="profile__photo" *ngFor="let pub of otroPub">
            <img  [src]="'http://127.0.0.1:8000'+pub.image" class="tamano" />
            <div class="profile__photo-overlay">
                <span class="overlay__item">
                    <i class="fa fa-heart"></i>
                    486
                </span>
                <span class="overlay__item">
                    <i class="fa fa-comment"></i>
                    344
                </span>
            </div>
        </div>

    </section>
</main>