<section>
    <div class="imgBox">
        <img src="../../../assets/img/imgL.jfif" alt="">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Login</h2>
            <form action="">
                <div class="inputBx">
                    <input type="text" name="user" placeholder="Username" [(ngModel)]="user.username">
                </div>
                <div class="inputBx">
                    <input type="password" name="pass" placeholder="Password" [(ngModel)]="user.pass">
                </div>
                <div class="inputBx">
                    <button type="button" class="btn-grad " (click)="getToken()" [routerLink]="['/home']">Log In</button>
                </div>
                <div class="inputBx">
                    <p>No tengo una cuenta <a routerLink="/register">Registrate</a></p>
                </div>
            </form>
        </div>
    </div>
</section>