<section>
    <div class="imgBox">
        <img src="../../../assets/img/imgL.jfif" alt="">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Register</h2>
            <form action="">
                <div class="inputBx">
                    <input type="text" name="" placeholder="Username">
                </div>
                <div class="inputBx">
                    <input type="password" name="" placeholder="Password">
                </div>
                <div class="inputBx">
                    <input type="button" value="Sign Up" [routerLink]="['/home']" name="">
                </div>
                <div class="inputBx">
                    <p>Tienes una cuenta <a routerLink="/login">Log In</a></p>
                </div>
            </form>
        </div>
    </div>
</section>