<section>
    <div class="imgBox">
        <img src="../../../assets/img/imgL.jfif" alt="">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Register</h2>
            <form>
                <div class="inputBx">
                    <input type="text" name="name" placeholder="Name"  [(ngModel)]="user.nombre">
                </div>
                <div class="inputBx">
                    <input type="text" name="user" placeholder="Username"  [(ngModel)]="user.username">
                </div>
                <div class="inputBx">
                    <input type="password" name="pass" placeholder="Password"  [(ngModel)]="user.pass">
                </div>
                <div class="inputBx">
                    <input type="text" name="email" placeholder="E-mail" [(ngModel)]="user.email">
                </div>
                <div class="inputBx">
                    <button type="button" class="btn-grad " (click)="insertUser()" [routerLink]="['/home']">Register</button>
                </div>
                <div class="inputBx">
                    <p>Tienes una cuenta <a routerLink="/login">Log In</a></p>
                </div>
            </form>
        </div>
    </div>
</section>