<app-menu></app-menu>
<main id="explore">
    <ul class="explore__users">
        <li class="explore__user">
            
            <div class="explore__user-column">
                <img src="images/avatar.jpg" class="explore__avatar"/>
                <div class="explore__info">
                    <span class="explore__username">cruz.00</span>
                    <span class="explore__full-name">Josue Cruz</span>
                </div>
            </div>
            <div class="explore__user-column">
                <button>Follow</button>
            </div>
        </li>
        <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/avatar.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">cruz.00</span>
                        <span class="explore__full-name">Josue Cruz</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button>Follow</button>
                </div>
            </li>
            <li class="explore__user">
                    
                    <div class="explore__user-column">
                        <img src="images/avatar.jpg" class="explore__avatar"/>
                        <div class="explore__info">
                            <span class="explore__username">cruz.00</span>
                            <span class="explore__full-name">Josue Cruz</span>
                        </div>
                    </div>
                    <div class="explore__user-column">
                        <button>Follow</button>
                    </div>
                </li>
    </ul>
</main>