<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navigation">
    <div class="navigation__column">
        <a href="#">
            <img src="../../assets/img/logo.png" />
        </a>
    </div>
    <div class="navigation__column">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search">
    </div>
    <div class="navigation__column">
        <ul class="navigationsLs">
            <li class="navigation__list-item">
                <a href="/home" class="navigationL">
                    <i class="fa fa-home fa-lg"></i>
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="/explore" class="navigationL">
                    <i class="fa fa-compass fa-lg"></i>
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="#" class="navigationL">
                    <i class="fa fa-heart-o fa-lg"></i>
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="/profile" class="navigationL">
                    <i class="fa fa-user-o fa-lg"></i>
                </a>
            </li>
            <li class="navigation__list-item">
                   <a h (click)="Cerrar()"><i class="fa fa-sign-out fa-lg puntero"></i></a>
            </li>
        </ul>
        
    </div>
</nav>
