.inputFile {    
    margin-left: 235px;
    border: 0;
    color: rgb(250, 245, 245);
    font-weight: 600;
    border-radius: 3px;
    background-color: blue;
    font-size: 14px;
    padding: 7px 25px;
}